/*variables*/
:root {
    --accent1: #a667e5;
    --accent1a: #52277c;
    --accent2: #5597cc;
    --accent2a: #316997;
    --homepagepurple: #B83BCE;
    --errorred: #ea5656;
    --correctgreen: #8fc254;
    --font: #efefef;
    --curvedcorner1: 20px;
    --curvedcorner2: 10px;
}

/*page styles*/
body {
    background-color: #090909;
    background-attachment: fixed;
    color: var(--font);
    font-size: 1.1rem;
}

body#homepage {
    margin: 0;
    padding: 0;
    background-size: cover;
    /* This ensures the entire image covers the viewport */
    background-repeat: no-repeat;
}

body#quizpage,
body#endpage {
    background-image: url("../images/star-bg.jpg");
}

/* navigation bar */
.navbar {
    margin-bottom: 0;
    border-bottom: none;
}

.navbar-brand {
    font-size: 30px;
    margin-left: 15px;
    color: var(--accent1); /*need to choose a purple*/
    color: #d95fee;
    /* Adjusting the font size of the brand/logo */
}

.navbar-toggler-icon {
    color: #ffffff5a !important;

}

.nav-link {
    color: #fffffff1 !important;
    margin-right: 40px;
    background-color: var(--homepagepurple);
    font-weight: bold;

}

.nav-link:hover {
    color: var(--accent1) !important; /*need to choose a purple*/
    color: var(--homepagepurple) !important;
    background-color: rgb(251, 250, 250);
    transition: color 0.3s, background-color 0.3s;
}

.navbar-dark.bg-dark {
    background-color: #00000032 !important;
    /* Background color of the navbar */
}

.navbar-nav {
    padding-left: 30rem !important;
}

.navbar-brand img {
    margin-right: 10px;
}

.dropdown-menu-right .dropdown-item:hover {
    background-color: var(--homepagepurple) !important;
    color: white !important;
}

/* Home page */

#homepage h1 {
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.279);
    color: white;
    margin-bottom: 0;
    display: inline-block;

}

.intro-text p,
.star-wars p {
    background-color: rgba(0, 0, 0, 0.427);
    color: white;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0;
}

/* Star Wars-style opening crawl container */
.star-wars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Adjusting the height as needed */
    overflow: hidden;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    position: relative;
    padding: 20px;
    /* Adjusting the padding as needed */

}

/* Adjusting the crawl positioning */
.crawl {
    transform-origin: 50% 50%;
    animation: crawl 160s linear infinite;
    /* Slower crawl animation */
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    line-height: 3;
    /* Adjusting line height as needed */
    height: 30vh;
    /* Adjusting the height as desired */
}

.crawl>.title {
    font-size: 90%;
    text-align: center;
}



@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
        opacity: 0;
    }
}


/* Styling the crawl text within the container */
.crawl p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #feda4a;
}


/*quiz page*/

.quiz-tablet {
    max-width: 1000px;
    background-color: #aaa;
    border-radius: var(--curvedcorner1);
    box-shadow: 6px 8px 21px 0px rgba(0, 0, 0, 1);
}

.tablet-box {
    border-radius: var(--curvedcorner1);
    box-shadow: 3px 4px 21px -10px rgba(0, 0, 0, 0.5);
    background-color: var(--accent2);
    border: 1px solid var(--accent2a);
}

.tablet-box-alt {
    background-color: var(--accent1);
    border: 1px solid var(--accent1a);
}

.question,
.answer {
    font-size: 1.4rem;
}

.image-container img {
    border-radius: var(--curvedcorner1);
    max-height: 550px;
    max-width: 100%;
    border: 5px solid var(--accent2a);
}

.question {
    border-width: 3px;
}

.answer {
    cursor: pointer;
    border: none;
    box-shadow: 0 8px var(--accent1a);
}

.answer:hover,
.answer:focus {
    opacity: 0.90;
}

.answer:active {
    box-shadow: 0 4px var(--accent1a);
    transform: translateY(4px);
}

/*end page*/



/*buttons*/

#btn-startquiz {
    font-size: 2em !important;
    background-color: var(--homepagepurple) !important;
    border-color: var(--homepagepurple);
    margin-top: 3rem;
    margin-bottom: 1rem;
}