/*variables*/
:root {
  --accent1: #a667e5;
  --accent1a: #52277c;
  --accent2: #5597cc;
  --accent2a: #316997;
  --homepagepurple: #b83bce;
  --errorred: #ea5656;
  --correctgreen: #55bd51;
  --dark: #090909;
  --light: #efefef;
  --curvedcorner1: 20px;
  --curvedcorner2: 10px;
}

/*page styles*/
body {
  background-color: var(--dark);
  background-attachment: fixed;
  color: var(--light);
  font-size: 1.1rem;
}

body#homepage {
  margin: 0;
  padding: 0;
  position: relative;
  /* Needed for pseudo-element */
}

body#homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.906) 0%,
      rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  /* Ensure the overlay is behind the content */
}

body#quizpage,
body#quizend {
  background-image: url("../images/star-bg.jpg");
}

/* navigation bar */
.navbar {
  margin-bottom: 0;
  border-bottom: none;
}

.navbar-brand {
  font-size: 30px;
  margin-left: 15px;
  color: var(--accent1);
  color: #d95fee;
  /* Adjusting the font size of the brand/logo */
  font-family: "Fauna", sans-serif;
}

.navbar-toggler-icon {
  color: #ffffff5a !important;
}

.nav-link {
  color: #fffffff1 !important;
  margin-right: 40px;
  background-color: var(--homepagepurple);
  font-weight: bold;
  border-radius: 10% !important;
}

.nav-link:hover {
  color: var(--homepagepurple) !important;
  background-color: rgb(251, 250, 250);
  transition: color 0.3s, background-color 0.3s;
}

.navbar-dark.bg-dark {
  background-color: #00000032 !important;
  /* Background color of the navbar */
}

.navbar-nav {
  padding-left: 30rem !important;
}

.navbar-brand img {
  margin-right: 10px;
}

.dropdown-menu-right .dropdown-item:hover {
  background-color: var(--homepagepurple) !important;
  color: white !important;
}

/* Home page */

#homepage h1 {
  font-size: 4rem;
  color: #d95fee;
  margin-bottom: 0;
  display: inline-block;
  font-family: "Procyon Shadow", sans-serif;
}

.intro-text p {
  color: white;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 0;
  font-family: "Fauna", sans-serif;
}

.star-wars p {
  background-color: rgba(0, 0, 0, 0.427);
  color: white;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 0;
}

/* Star Wars-style opening crawl container */
.star-wars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* Adjusting the height as needed */
  overflow: hidden;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 100%;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  position: relative;
  padding: 20px;
  /* Adjusting the padding as needed */
}

/* Adjusting the crawl positioning */
.crawl {
  transform-origin: 50% 50%;
  animation: crawl 160s linear infinite;
  /* Slower crawl animation */
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  line-height: 3;
  /* Adjusting line height as needed */
  height: 30vh;
  /* Adjusting the height as desired */
}

.crawl>.title {
  font-size: 90%;
  text-align: center;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
    opacity: 0;
  }
}

/* Styling the crawl text within the container */
.crawl p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #feda4a;
}

/*quiz page*/

.quiz-tablet {
  max-width: 1000px;
  width: 94%;
  background-color: #aaa;
  border-radius: var(--curvedcorner1);
  box-shadow: 6px 8px 21px 0px rgba(0, 0, 0, 1);
}

.tablet-box {
  border-radius: var(--curvedcorner1);
  box-shadow: 3px 4px 21px -10px rgba(0, 0, 0, 0.5);
  background-color: var(--accent2);
  border: 1px solid var(--accent2a);
}

.tablet-box-alt {
  background-color: var(--accent1);
  border: 1px solid var(--accent1a);
}

.question,
.answer {
  font-size: 1.4rem;
}

.image-container img {
  border-radius: var(--curvedcorner1);
  max-height: 550px;
  max-width: 100%;
  border: 5px solid var(--accent2a);
}

.question {
  border-width: 3px;
}

.answer {
  cursor: pointer;
  border: none;
  box-shadow: 0 8px var(--accent1a);
}

.answer:hover,
.answer:focus {
  opacity: 0.9;
}

.answer:active {
  box-shadow: 0 4px var(--accent1a);
  transform: translateY(4px);
}

.select-incorrect {
  background-color: var(--errorred);
}

.select-correct {
  background-color: var(--correctgreen);
}

.quiz-modal,
.quiz-modal h3,
.quiz-modal h4,
.quiz-modal p {
  color: #090909;
}

.quiz-modal h3 {
  font-weight: bold;
}

.quiz-modal h4 {
  font-size: 1.2rem;
  text-decoration: underline;
}

.next-q-link {
  text-align: right;
  font-size: 0.9em;
}

.next-q-link a {
  color: #555;
  font-style: italic;
  margin-right: 2px;
}

/*end page*/
.page-header h1 {
  font-family: "Drius Halftone", sans-serif;
  text-transform: uppercase;
}

.score {
  background-color: var(--accent2);
}

/*side column*/
aside {
  position: relative;
}

.side-widget {
  border-radius: var(--curvedcorner2);
  background-color: #000;
}

.side-widget h5 {
  font-weight: bold;
}

/*progress bar*/
#progress-bar {
  background-color: #777;
  border-radius: var(--curvedcorner1);
  padding: 10px 4px;
}

#progress-bar h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

#progress-bar p {
  font-size: 0.8rem;
}

#progress-bar ul {
  padding: 0;
}

.dot-label {
  width: 60px;
  height: 30px;
  background-color: #d257ff;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: auto;
  margin: 13px auto;
  font-size: 20px;
}

/* CSS for dot lines */

.dot-line {
  flex-grow: 1;
  width: 60px;
  height: 30px;
  background-color: transparent;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  margin: 10px auto;
  display: none;
}

.answered-dot {
  background-color: green;
  /* Change to your desired color */
  color: white;
  /* Add any other styles for answered dots */
}

#progress-bar h5 {
  text-align: center;
}

/*buttons*/

.btn {
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

#btn-returnhome {
  background-color: var(--accent1a);
  border-color: var(--accent1a);
  font-size: 1.6rem;
}

#btn-returnhome:hover {
  opacity: 0.8;
}

#btn-abort {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 136px;
  height: 136px;
  border-radius: 72px;
  border: 8px solid #9b1217;
  background-color: #ec1c24;
  transition: all 0.1s ease-in-out;
}

#btn-abort a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-size: 1.2em;
  line-height: 0.7em;
}

#btn-abort:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

#btn-abort:hover a {
  text-shadow: 1px 1px 12px rgba(255, 243, 202, 1);
}

#btn-startquiz {
  font-size: 1.5em !important;
  background-color: #d85fee97 !important;
  border-color: var(--homepagepurple);
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: visible;
  font-family: "Drius Halftone", sans-serif;
}

/* Adding styles for the hover effect */
#btn-startquiz:hover {
  background-color: #55bd51 !important;
  transform: scale(1.05);
  color: black;
  border-color: #55bd51;
}

.btn-howtoplay {
  border-radius: var(--curvedcorner1) !important;
  background-color: var(--accent1a) !important;
  border-color: var(--accent1a) !important;
  color: #fff !important;
  font-weight: bold;
  padding: 3px 13px;
  font-size: 1.2rem;
}

.btn-howtoplay:hover {
  opacity: 0.8;
}

/* Footer styling */
footer {
  background-color: rgba(0, 0, 0, 0.711);
  color: #f4c9fc;
  padding: 10px 0;
}

/* Style the copyright notice */
footer p {
  text-align: center;
  font-size: 18px;
}

/* CSS property to toggle game over displays*/

.hidden {
  display: none;
}


/*temp*/
.delete-this {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* styling for modal */
#modalb1 {
  background-color: #55bd51;
}